.buttonDisplay{
	margin: 5px;
	display: inline-flex;
}
.button{
	padding: 10px;
	cursor: pointer;
	background-color: rgb(0, 0, 0);
	color: #fff;
}
.button:hover{
	background-color: #fff;
	color: #000;
}